@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-primary: "Inter", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    @apply font-primary bg-zinc-50 h-full;
  }

  .wrapper {
    @apply h-full flex flex-col;
  }
}

@layer components {}

@layer utilities {

  /*-scroll-*/
  /* width */
  ::-webkit-scrollbar {
    @apply w-2 rounded overflow-hidden;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-zinc-200;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500 cursor-pointer;
  }

  /* Скрываем скроллбар, но оставляем прокрутку */
  .hidden-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 11 */
  }

  /* Для Chrome, Safari и Edge */
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .small-scrollbar::-webkit-scrollbar {
    @apply w-0.75;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}