@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --font-primary: "Poppins", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    @apply font-primary bg-zinc-50 h-full;
  }

  .wrapper {
    @apply h-full flex flex-col;
  }
}

@layer components {
  .dropdown-menu {
    @apply relative before:absolute before:bottom-full before:left-3 before:border-solid after:absolute after:bottom-full after:left-3 after:ml-px after:border-solid;
  }

  .dropdown-menu.dropdown-center {
    @apply left-1/2 -translate-x-1/2 before:left-1/2 before:-translate-x-1/2 after:left-1/2 after:-translate-x-1/2 after:ml-0;
  }

  .dropdown-menu.dropdown-right {
    @apply left-auto right-0 before:left-auto before:right-3 after:left-auto after:right-3 after:mr-px;
  }

  .dropdown-menu::before {
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent theme("colors.zinc.200") transparent;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}